<!doctype html>
<html lang="en-US">
  <head>
    <title>File-Based CMS</title>
    <link rel="stylesheet" href="/stylesheets/cms.css">
  </head>
  <body>
    <header
      <div>
        
      </div>
    </header>
    <main>
      <%== yield %>
    </main>
  </body>
</html>
