<% if session[:message] %>
  <h3 class="message"><%= session.delete(:message) %></h3>
<% end %>

<form action="register" method="post">
  <label for="username">Username:</label>
  <input type="text" id="username" name="username" value="<%= session.delete(:requsted_user_name) %>">
  <br><br>
  <label for="password">Password:</label>
  <input type="password" id="password1" name="password1">
  <br><br>
  <label for="password">Confirm Password:</label>
  <input type="password" id="password2" name="password2">
  <br><br>
  <input type="submit" value="Submit">
</form>